<div class="containe w3-hide-small">
    <div class="w3-row">
        <div class="w3-col m4 w3-hide-small"><h1></h1></div>
        <div class="w3-col m4">
            <div class="w3-card page center" style="overflow: scroll;">
                <h1 style="padding-top: 20px;">Manteio</h1>
                <h6 style="padding-top: 10px; color: rgb(114, 110, 110);">QuickBooks Online Sign in</h6>
                <button class="btn btn" style="background-color:rgb(56, 139, 218); color:white">Sign in with Intuit</button>
                 
                <!------------>
                <div class="hr-theme-slash-2" style="color: rgb(233, 228, 228); margin: 10px;">
                    <div class="hr-line"></div>
                    <div class="hr-icon" style="background-color: whitesmoke; border-radius: 30%;"><i class="material-icons"
                        style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">OR</i></div>
                    <div class="hr-line"></div>
                  </div>
                <!------------------------------>
                <form [formGroup]="requiredForm" novalidate>
                <div class="form-group form-row align-items-center">
                    <div class="col-auto">
                      <label class="sr-only" for="inlineFormInputGroup">Username</label>
                      <div class="input-group mb-2"  style="width: 300px; margin-left: 80px;">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input type="text" [(ngModel)]="email" formControlName="email"   name="email" class="form-control"   placeholder="Email">
                      </div>
                      <!---->
                      <div *ngIf="m.email.touched && m.email.invalid" class="alert alert-danger" 
                      style="width: 300px; margin-left: 80px;">
                        <div *ngIf="m.email.errors?.required">Please enter Email</div>
                        <div *ngIf="m.email.errors?.pattern">Please enter valid email address</div>
                      </div>
                      <!----->
              
                      <label class="sr-only" for="inlineFormInputGroup">Password</label>
                      <div class="input-group mb-2" style="width: 300px; margin-left: 80px;">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-lock"></i></div>
                        </div>
                        <input type="password" [(ngModel)]="password" formControlName="password" name="password" class="form-control"   placeholder="Password">
                      </div>
                      <!---->
                      <div *ngIf="m.password.touched && m.password.invalid" class="alert alert-danger" 
                       style="width: 300px; margin-left: 80px;">
                         <div *ngIf="m.password.errors?.required">Please Enter Password</div>
                         <div *ngIf="m.password.errors?.pattern">Please Enter Password</div>
                       </div>
                      <!---->
                    </div>
                  </div>
                
                <!-------------------------->
                <!--<div class="form-group" style="height: 50px;">
                    <i class="fa fa-user icon"></i>
                    <input type="text" [(ngModel)]="username" name="username" class="fa fa-user icon input-field form-control" 
                    style="width: 300px; margin-left: 80px;"><br><br>
                </div>
                <div class="input-field" style="height: 80px;">
                    <i class="fa fa-lock"></i>
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" 
                    style="width: 300px; margin-left: 80px;"><br><br>
                </div>-->
                <button  class="btn btn" (click)="login()"
                style="width: 300px; background-color: rgb(122, 52, 201); color: white;">Login</button><br></form>
                <button [routerLink]="['register']" class="btn btn" style="color: rgb(172, 102, 199);">Register</button>
                <a  href="" style="color: rgb(172, 102, 199);">Forgot password?</a> 
                <h6 
                style="color: rgb(114, 110, 110);">Simplify your business with <a href="#" style="text-decoration: none; color: rgb(122, 52, 201);">Manteio</a></h6>
                <i class="fa fa-home" style="padding: 10px;"> <span style="color: rgb(114, 110, 110);"> Home</span></i>
                <i class="fa fa-user-secret" style="padding: 10px;"><span style="color: rgb(114, 110, 110);"> Privacy</span> </i>
                <i class="fa fa-handshake-o" style="padding: 10px;"><span style="color: rgb(114, 110, 110);"> Terms</span> </i><br>
                <hr style="color: rgb(233, 228, 228);">
                <h5>Follow us</h5>
                <a   href="#" class="fa fa-linkedin" style="background: #007bb5; color: white; border-radius: 20%;
                width: 20px; height: 20px; margin-right: 10px;"></a>
                <a  href="#" class="fa fa-youtube" style="background: #bb0000; color: white; border-radius: 20%;
                width: 20px; height: 20px;"></a>
               
                <p style="font-size: 12px; width: 380px; margin-left: 40px;">Note: Q Apps is a professional networking app ecosystem for SMBs and 
                  Accountants. You must be a QuickBooks Online user to use Q Apps.</p>
                <h6 style="color: rgb(114, 110, 110);">Copyright © 2021 Master Corp, USA. All rights reserved</h6>
            </div>
        </div>
        <div class="w3-col m4 w3-hide-small" ><h1></h1></div>
    </div>
</div>

<app-mobileview class="w3-hide-large w3-hide-medium"></app-mobileview>